:root {
    /* Color palette */
    --wildberry-primary: #170027;
    --wildberry-secondary: #350058;
    --wildberry-secondary-alt: #F40174;
    --wildberry-tertiary: #4c007c;
    --wildberry-accent-color: #00ffb7;
    --wildberry-input-box: #350058;
    --wildberry-mention: #97004c;
    --wildberry-red: #ff6c5c;
    --wildberry-svg: #F40174;
    --wildberry-less-hot: #cc0066;

}

@font-face {
    font-family: impactBetter;
    src: url("../Assets/impact.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    /*
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    */
}

body {
    background: #FEEEEC;
    font-size: 15px;
    line-height: 1.42857143;
    color: #040720;

}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 9em;
}

@media(max-width:80em) {
    .container {
        padding: 0 7em;
    }

}

@media(max-width:60em) {
    .container {
        padding: 0 5em;
    }

}

@media(max-width:30em) {
    .container {
        padding: 0 2em;
    }

}


.navbar {
    z-index: 50;
    background-color: transparent;
    padding: 0.75em 10em;
    width: 100%;
    position: fixed;
    transition: padding 0.3s;
    font-weight: bolder;
}

.fixed {
    background: #01006C;
    background-size: 400% 400%;
    /* 
   animation: gradient 15s ease infinite; 
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
   */
    padding: 0.25em 10em;
    top: 0;
    position: fixed;
    transition: all 0.3s;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.navbar ul li {
    padding: 0.5rem 0;
    cursor: pointer;
}

.navbar ul li.button {
    position: relative;
    width: auto;
    margin: 0 1rem;
    text-align: center;
    order: 3;
}

.navbar ul li.button:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: white;
    opacity: 0;
    transition: all 0.2s linear;
}





.navbar ul li.logo.top {
    opacity: 0;
    transition: 0.5s;
}

.navbar ul li.logo {
    flex: 1;
    color: white;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    cursor: default;
    user-select: none;
}

.navbar ul li.logo .text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #01006C;
    letter-spacing: 0.5rem;
    text-shadow:
        3px 3px 0 #fcd1fa,
        -1px -1px 0 #fcd1fa,
        1px -1px 0 #fcd1fa,
        -1px 1px 0 #fcd1fa,
        1px 1px 0 #fcd1fa;

}

.navbar ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
}

.navbar ul li:hover a {
    color: white;

}

.navbar ul li.button:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

.navbar ul li.button.active {
    transform: scale(1.5);
    transition: 0.5s;
}

.navbar ul li.button.selected {
    transform: scale(1.5);
    transition: 0.5s;
}

.navbar ul li i {
    font-size: 23px;
}

.navbar ul li.ham {
    display: none;
}

.navbar ul li.ham.hide i:before {
    content: '\f00d';
}


@media all and (max-width: 900px) {
    .navbar {
        padding: 5px 30px;
    }

    .navbar ul li.button {
        width: 100%;
        display: none;
    }

    .navbar ul li.button.show {
        display: block;
    }

    .navbar ul li.ham {
        display: block;
    }

    .navbar ul li.button:hover a {
        opacity: 1;
        bottom: 8px;
        border-radius: 5px;

        border-bottom: white, 2px;

    }

    .navbar ul li.button:hover:after {
        opacity: 0;
    }
}



img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
    margin: 0 auto;
}

header,
section {
    padding: 4rem 0;
}


.content-filler {
    font-size: clamp(0.5rem, 0.5rem + 2vw, 1.2rem);
}

.content-filler p {
    margin-bottom: 1rem;
}

.content-heading {
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: clamp(2rem, 1rem + 1.2vw, 3rem);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-family: impactBetter;
    letter-spacing: 00.10rem;
    text-transform: uppercase;

}

.info-container {
    display: flex;
    flex-direction: row;
    gap: 5em;
    padding: 0 4px;
}

.info-container div {
    text-align: justify;
    justify-content: right;
    flex: 33%;
    padding: 0 4px;
    font-size: clamp(0.5rem, 0.5rem + 2vw, 1.2rem);

}



.info-container div .heading {
    margin: auto;
    font-weight: 900;
    font-size: clamp(1rem, 1rem + 1.2vw, 1.5rem);
    padding: 1em 0;

}
.info-container div .heading img{
    max-width: 65%;
}
.ticket{
    padding:5rem 0;
}
img.ticket{
    max-width: 40%;
    margin: 0;

}
@media (max-width:40em) {
    .info-container {
        display: block;
        gap: 0;
    }
    .info-container div{
        text-align: center;
    }
    .info-container div .heading img{
        max-width: 60%;
    }
    .ticket img{
        max-width: 60%;
        margin: 0 auto;
    }
}

.imp {
    color: #01072c;
    font-weight: 700;
    font-style: normal;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.games-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.games-item {
    flex: 0 0 28%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-decoration: none;
    box-sizing: border-box;

}



.games-caption {
    padding: 1em;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: clamp(0.4rem, 0.5rem + 1vw, 1rem);
}

@media (max-width:40em) {
    .games-container {
        flex-direction: column;
    }
}


.artist-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75em;
    justify-content: space-evenly;
    font-size: clamp(0.25rem, 0.25rem + 2vw, 1rem);
}

.artist-item {
    padding: 0 5px;
    flex: 0 0 45%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 1em 0;
    justify-content: center;
}

.artist-img {
    flex: 1.25;
}

.artist-img img {
    border: 5px solid rgb(255, 217, 217);
    border-radius: 50%;

}

.artist-description {
    flex: 3.75;
    position: relative;
}

.artist-header {
    font-weight: 700;
    font-size: clamp(0.6rem, 0.5rem + 2vw, 1.2rem);
    padding-bottom: 0.5rem;
}

.social {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
    justify-self: center;
    justify-content: center;
    gap: 0.45em;
}

.social li {
    font-size: 1.25em;
    list-style: none;
}

.social li i {
    text-align: center;
}

.social li a {
    text-decoration: none;
    color: #040720;
}

footer {
    font-size: clamp(0.5rem, 0.5rem + 1.5vw, 1rem);
    box-sizing: border-box;
    text-align: center;
    padding: 2rem;
    background-color: white;
    width: 100%;
    margin-top: 5rem;
}

footer span{
    font-size: clamp(0.3rem, 0.2rem + 0.5vw, 1rem);
}

@media (max-width:56em) {
    .artist-container {
        flex-direction: column;
    }
}

#p5_loading{
    display:none;
}